.alienBox {
  background: url('../images/bgb.svg') no-repeat;
  background-size: cover;
  background-position:bottom;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.alienAtributes {
    padding: 25px;
    opacity: 0.8;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;
}
