.alien__body{
  position: absolute;
  margin-top: 155px;
}
.alien__chest{
  position: absolute;
  top: 5px;
  left: 145px;
  width: 35px;
  height: 150px;
  border-radius: 50%;
}
.alien__arm--left, .alien__arm--right{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 90px;
  border-radius: 50%;

}
.alien__arm--left{
  transform: rotate(30deg);
  border-left: solid 1px;
  left: -25px;
}
.alien__arm--right{
  transform: rotate(-30deg);
  border-right: solid 1px;
  left: 45px;
}
.alien__leg--left, .alien__leg--right{
  position: absolute;
  width: 10px;
  height: 35px;
  border-radius: 50%;
}
.alien__leg--left{
  top: 132px;
  left: -6px;
  transform: rotate(90deg);
  border-right: solid 1px;
}
.alien__leg--right{
  top: 132px;
  left: 31px;
  transform: rotate(90deg);
  border-right: solid 1px;
}
.alien__legSpace{
  position: absolute;
  top: 100px;
  left: 17px;
  width: 0.9px;
  height: 50px;
  background: black;
  border-radius: 50% 0%;
}
.alien__finger1--left, .alien__finger2--left, .alien__finger1--right, .alien__finger2--right{
  position: absolute;
  background: black;
  width: 0.7px;
  height: 9px;
  border-radius: 50% 50%;
}
.alien__finger1--left{
  top: 75px;
  left: 4px;
  transform: rotate(15deg);
}
.alien__finger2--left{
  top: 81px;
  left: 7px;
  transform: rotate(15deg);
}
.alien__finger1--right{
  top: 76px;
  left: 9px;
  transform:rotate(-15deg);
}
.alien__finger2--right{
  top: 81px;
  left: 6px;
  transform: rotate(-15deg);
}
