.shadowAnim{
  animation: moveShadow 2s infinite ;
}
/* Moving head with eyes together */
.movingHead{
  animation: moveHead 15s infinite;
}

@keyframes moveShadow{
  50% {box-shadow:0px 0px 30px 5px #0ff;}
}

@keyframes moveHead{
  0%{transform: rotate(-45deg)}
  50%{transform: rotate(-41deg)}
  100%{transform: rotate(-45deg)}
}
